* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --escuro: #262525;
    --borda: #EEEEEE;
    --gap: 3rem;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html {
    font-size: 62.5%; /*tamanho da font padrão*/
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/*main-bg - background da pagina*/
.main-bg {
    background-image: url(img/bacground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; /*Eu coloquei*/
    color: var(--white);
}

.main-bg-white {
    color: var(--escuro);
}

/*conteinar princial*/
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section-tamanho-vh {
    min-height: 100vh;
}

/*MENU*/

/*Confg do Menu, tamanho, posição e cor etc*/
.menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid var(--borda);
}

/*criado apenas para deixa a logo do lado esquerdo e menu do direito*/
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0; /*inserido para a largura do menu ser estabelicida pelo A*/
    padding-bottom: 0; /*inserido para a largura do menu ser estabelicida pelo A*/
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a{
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

/*Para ajustar a ul a parti do A*/
.menu ul li a {    
    display: block;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--escuro);
    position: relative;
}


/*inserir bordar ao passar o mouse em baixo*/
.menu ul li a::after {  
    content: '';  
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.3rem;
    background: crimson; /*#fd892b*/
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;  
    left: 25%;
}